.button{
    padding: 8px;
    color: black;
    border-radius:4px;
    border:none;
}

.button--danger{
    background: red;
}

.button--success{
    background: green;
}

.button--warning{
    background: yellow;
}